html, body {
  overflow: hidden;
  padding: none;
  margin: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

input[type='number'] {
  width: 6ch;
}

#controls {
  margin-top: 1em;
  text-align: center;
}
